* {
  box-sizing: border-box;
  margin: 0;
}


/*HEADER*/
header {
  border: 1px solid #000;
}

header .row {
  padding: 28px 21px;
}

header #menu{
  font-size: 21px;
  color: #888888;
}
header #menu-item {
  padding: 0;
  border-top: 1px solid #e5e5e5;
}
