
@import url('https://fonts.googleapis.com/css?family=Open+Sans|Raleway');
  * {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
  }

/*GENERAL*/
  .color-lab {
    background-color: #f7b617;
  }
  h3, [type="button"] {
    font-family: 'Raleway', sans-serif;
  }
  .w-700 {
    font-weight: 700;
  }

/*HEADER*/
  header .row {
    padding: 28px 21px;
  }

  header #menu{
    font-size: 21px;
    color: #888888;
  }

  header #menu-item {
    padding: 0;
    border-top: 1px solid #e5e5e5;
    font-family: 'Open Sans', sans-serif;
  }

  header #menu-item li > a {
    color: #000;
    padding-top: 28px;
    padding-bottom: 28px;
  }

/*BANNER */
  #banner {
    background-image: url("../assets/images/taxi.jpg");
    background-repeat: no-repeat;
    height: 560px;
    background-size: cover;
  }

  #download-app [class*="col-xs-10"]{
    top: 155px;
    padding: 35px;
    font-family: 'Raleway', sans-serif;
  }

  #download-app .btn-download {
    padding-top: 35px;
  }

  #download-app [type="button"] {
    font-size: 19px;
  }

/*INFO*/
  #info * {
    color: #fff;
  }

  #info .container > div:first-child {
    border: 1px solid #fff;
    margin: 14px;
  }

  #info .row {
    padding: 21px 14px;
  }

/*DRIVER */
  #driver {
    background-image: url(../assets/images/conduce.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 242px;
  }

  #driver * {
    color: #fff;
  }
  #driver > .container {
    height: 100%;
    background-color: rgba(0, 0, 0, 0.33);
    padding: 30px 14px;
  }
  #driver p, #driver [type="button"] {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
  }
  #driver [type="button"] {
    border: none;
    border-radius: 12px;
    padding: 9px 14px;
}

/*TARIFA*/

  #rate * {
    color: #fff;
  }
  .form-input {
    display: inline-block;
    width: 80%;
    padding: 7px 14px;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 7px;
    margin: 14px;
  }
  #rate [type="button"] {
    color: #000;
    margin: 21px 0;
  }
  #rate p {
    font-size: 18px;
  }
/*FOOTER*/
  footer * {
    color: #fff;
  }
  .bg-gris {
    background-color: #2b2b2b;
  }
  .flex {
    display: flex;
    justify-content: space-around;
  }
  footer ul > li {
    padding: 14px 0;
  }
  footer img {
    margin: 14px 0;
    width: 133px;
  }
